<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <h1><%= text%></h1>
    <p>Username: <%= data.username %></p>
    <p><%= result%></p>
  </body>
</html>
