<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= text %></h1>
    <p>Name: <%= data.username%></p>
    <p> Password: <%= result %></p>
  </body>
</html>
